In [31]:
import pandas as pd
import numpy as np
from googletrans import Translator
from tqdm import tqdm
from tqdm.gui import tqdm as tqdm_gui

In [33]:
tqdm.pandas(ncols=50)

In [34]:
data = pd.read_csv('yorumsepeti.csv', sep=';')
data.head()

  speed service flavour                                             review
0     -       1       1  Her zaman komşu fırından sipariş verdiğim için...
1     -      10       2   sosisli ürün isteyen adama peynirli bişey yol...
2     -      10      10  Siparisimi cok hizli getiren ekip arkadasiniza...
3     1       1       7  After waiting more tjan one hour, they didnt d...
4     4       4       1  Iyi pişsin diye söylememe rağmen az pişmiş gel...

In [4]:
translator = Translator()

In [14]:
translator.translate('Her zaman komşu fırından').text

'Always from the neighboring bakery'

In [17]:
import time

def translate_row_in_english(text, attempts=3):
    for _ in range(attempts):
        try:
            return translator.translate(text).text
        except:
            time.sleep(1)

In [18]:
def translate_review(row):
    row['review'] = translate_row_in_english(row['review'])
    return row

In [ ]:
x = data.progress_apply(translate_review, axis=1, result_type='expand')

  5%|▎     | 2794/60242 [11:12<3:42:40,  4.30it/s]

In [21]:
x.head()

   a
0  -
1  -
2  -
3  1
4  4