In [3]:
import pandas as pd
import numpy as np
from googletrans import Translator
from tqdm import tqdm
from tqdm.gui import tqdm as tqdm_gui

In [4]:
tqdm.pandas(ncols=50)

In [5]:
data = pd.read_csv('yorumsepeti.csv', sep=';')
data.head()

  speed service flavour                                             review
0     -       1       1  Her zaman komşu fırından sipariş verdiğim için...
1     -      10       2   sosisli ürün isteyen adama peynirli bişey yol...
2     -      10      10  Siparisimi cok hizli getiren ekip arkadasiniza...
3     1       1       7  After waiting more tjan one hour, they didnt d...
4     4       4       1  Iyi pişsin diye söylememe rağmen az pişmiş gel...

In [6]:
translator = Translator()

In [7]:
translator.translate('Her zaman komşu fırından').text

'Always from the neighboring bakery'

In [8]:
import time

def translate_row_in_english(text, attempts=3):
    for _ in range(attempts):
        try:
            return translator.translate(text).text
        except:
            time.sleep(1)

In [9]:
def translate_review(row):
    row['review'] = translate_row_in_english(row['review'])
    return row

In [ ]:
x = data.progress_apply(translate_review, axis=1, result_type='expand')

  6%|▍     | 3783/60242 [10:49<2:26:27,  6.42it/s]

In [15]:
x.to_csv('translated_data.csv')

In [16]:
x.head()

  speed service flavour                                             review
0     -       1       1  As I always order from the neighboring bakery,...
1     -      10       2  Can you send something with cheese to the man ...
2     -      10      10  Thank you very much to your teammate who broug...
3     1       1       7  After waiting more than one hour, they didn't ...
4     4       4       1  Although I told it to cook well, it came under...

In [17]:
x.head()

  speed service flavour                                             review
0     -       1       1  As I always order from the neighboring bakery,...
1     -      10       2  Can you send something with cheese to the man ...
2     -      10      10  Thank you very much to your teammate who broug...
3     1       1       7  After waiting more than one hour, they didn't ...
4     4       4       1  Although I told it to cook well, it came under...